*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.container{
    width: 100%;
    height: 100vh;
    background: #eaf3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #272525;
    padding: 20px;
    border-radius: 10px;   
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(236, 242, 242, 0.1),-5px -5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input .equal{
    width: 145px;

}